<template>
  <div id="app">
        <h3 class="headline">Testwebsite</h3>
  </div>
</template>

<script>
export default {
  name: 'app',
  data() {
    return {
    };
  },
   methods:{
        itemTotal(numb1, numb2){
        console.log(numb1 + numb2);
                return numb1 + numb2;
            }
        }
};
</script>

